# exclude everything
/folderclone-master
/.idea
/accounts/*
# /controller/*
/credentials/*
rclone.conf
token.pickle
client_secret_1011068108634-2htk4gcdlsf7255oq56sshj6rtn50q03.apps.googleusercontent.com.json
rclone_sa_magic.py
log_rclone.txt
current_sa.txt

# exception to the rule
!credentials/.gsuite_only.txt
!credentials/.keep
!accounts/.keep
# !controller/.keep
